{
    "env": {
      "browser": true,
      "es2021": true
    },
    "extends": ["airbnb", "prettier", "tailwindcss"],
    "plugins": ["prettier"],
    "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
    "rules": {
      "prettier/prettier": ["error"],
      "jsx-a11y/label-has-associated-control": [
        "error",
        {
          "controlComponents": ["Input"],
          "assert": "both"
        }
      ]
    }
  }