{
    "env": {
      "browser": true,
      "es2021": true
    },
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
    "rules": {
      "prettier/prettier": ["error"],
      "jsx-a11y/label-has-associated-control": [
        "error",
        {
          "controlComponents": ["Input"],
          "assert": "both"
        }
      ],
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "never",
          "jsx": "allowed",
          "ts": "never",
          "tsx": "never"
        }
      ]
    },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "./src"]],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}