body {
  margin: 0px;
  background-color: #d1ebff;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.greeting {
  background-color: #37caec;
  margin: 0px;
  padding: 15px;
  padding-bottom: 0px;
  display: flex;
}

p {
  margin: 5px;
}

.main {
  display: flex;
  justify-content: center;
}

.tag-submit {
  margin: 5px;
}

.buttons {
  width: 500px;
  max-height: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 20px;
}
