body {
  margin: 0px;
  font-size: large;
  font-family: "Patrick Hand";
}

.login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.inputs {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
