body {
  margin: 0px;
}

.entry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-time {
  margin-top: 100px;
  align-self: flex-start;
}

.entry-intensity {
  margin-top: 100px;
  align-self: flex-start;
}

.entry-title {
  margin: 5px;
  padding: 5px;
}

.entry-main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.entry-body {
  width: 500px;
}