body {
  margin: 0px;
}

.main-body {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submission {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  gap: 10px;
}

.entry-body {
  padding: 10px;
  height: 350px;
  border-radius: 10px;
}
