.header {
  background-color: #37caec;
  margin: 0px;
  text-align: center;
}

.login-header {
  padding: 50px;
}

.homepage-header {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.entries-header {
  padding: 30px;
}
