form {
  text-align: center;
}

.input {
  margin: 5px;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
}

.login-input {
  width: 200px;
}

.title-input {
  width: 300px;
}