.intensity-level {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #77c6f7;
}

.intensity__input {
  width: 80px;
}