.tag-wrapper {
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #2A93D5;
  gap: 10px;
}

.tags {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.entries-tags {
  max-height: 500px;
}

.tag {
  padding: 5px;
}