body {
  margin: 0px;
  background-color: #F3E8CB;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around;  */
  min-height: 100vh;
}

.greeting {
  background-color: #99E1E5;
  margin: 0px;
  padding: 10px;
}

h4 {
  margin: 5px;
}

.main {
  display: flex;
  /* justify-content: center; */
}

.tag-input {
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}

.tag-submit {
  margin: 5px;
}

.buttons {
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 20px;
}

button {
  flex-grow: 1;
}