body {
  margin: 0px;
}


.main {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 30px; */
}

.time-of-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: blue;
  text-align: center;
}

img {
  width: 100px;
}

.submission {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top {
  display: flex;
  gap: 20px;
}

.entry-body {
  background-color: blueviolet;
  height: 350px;
  border-radius: 10px;
}