body {
  margin: 0px;
}

.main-body {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time-of-day {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #2A93D5;
  font-size: large;
  text-align: center;
  gap: 10px;
}

img {
  width: 100px;
}

.submission {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  gap: 10px;
}

.entry-body {
  padding: 10px;
  height: 350px;
  border-radius: 10px;
}