.button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: white;
  background-color: black;
}

.big-button {
  flex-grow: 1;
  border-radius: 10px;
  font-size: larger;
}

.new__entry {
  align-self: center;
}

.homepage___button {
  align-self: center;
}

.submission__buttons {
  display: flex;
  gap: 15px;
}