.footer {
  height: 60px;
  padding: 10px;
  background-color: #FBAFAF; 
  text-align: center;
  width: 100%;
}

.homepage-footer {
  height: 60px;
  padding: 20px;
  background-color: #FBAFAF; 
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
