.login-footer {
  height: 60px;
  padding: 10px;
  background-color: #125488; 
  color: white;
  text-align: center;
  width: 100%;
}

.footer {
  margin-top: 10px;
  height: 30px;
  padding: 10px;
  background-color: #125488; 
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
