.header {
  background-color: #99E1E5;
  margin: 0px;
  text-align: center;
}

.login-header {
  padding: 50px;
}

.homepage-header {
  margin-bottom:50px;
  padding-bottom: 20px;
}

.entries-header {
  margin-bottom:20px;
  padding: 30px;
}