.time-of-day {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #2A93D5;
  font-size: large;
  text-align: center;
  gap: 10px;
}

img {
  width: 100px;
}

.selected {
  border-style: solid;
  border-color: red;
}

.time__button {
  width: 100px;
  height: 93px;
  background-size: 100%;
  /* padding: 0px; */
}